_putchar.c
*.swp
build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
CMakeLists.txt
main.c
check.sh
main
run.sh
100-operations.o
100-operations.c
100-test.py
a.out
m.h
school.c
